#navicon {
    display:none;
}

body {
    margin:0px;
    background-color:coral;
}

nav {
    display:flex;
    flex-wrap:wrap;
    transition: 2s;
    justify-content: center;
    text-align: center;
    margin-top:10px;
}

#navbar {
    background-color:coral;
    color:black;
    display:flex;
    width:70%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:80px;
    justify-content: center;
    position:fixed;    
    border-radius:80px;
    color:white;
    box-shadow:0px 2px 2.5px rgba(255,255,255, 0.3)
}

.navitems {
    margin-right:20px;
    margin-left:20px;
}

a {
    text-decoration: none;
}

body > #nameheader {
    margin-top:30px;
}

#navbar > a {
    color:white;
    cursor: pointer;
}

#navbar > #naviconhouse,#naviconabtme,#naviconproj,#naviconachiv {
    display:none;
    font-size:50px;
    padding:25px;
}

#notchcollapse {
    display:flex;
}

#notchcollapse, #notchopen {
    margin-top:35px;
    color:white;
    position: fixed;
    cursor:pointer;
    font-weight: 100px;
    transition: 0.5s;
}

#notchcollapse:hover, #notchopen:hover {
    color:lightslategrey;
}

#notchopen {
    display:none;
}

#nameheader {
    background-color:coral;
    color:white;
    padding: 100px;
    display:flex;
    flex-direction: column;
    margin:0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#smallref > a {
    text-decoration: underline white;
    color:white;
}

#name {
    font-size:70px;
    font-weight:80px;

}

#navicon {
    margin-right: 3px;
    font-size: 30px;
    display:flex;
    margin-top: 15px;
}

#framethese,#framedphotos {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:rgb(255, 150, 111);
    height: 100%;
}

#framethese {
    padding:30px
}

#framethese > h1 {
    font-weight:80px;
    font-size:50px;
}

#framethese > h2 {
    font-size:25px;    
}

#framedphotos {
    display:flex;
    justify-content: center;
    padding:40px;
    margin:0px;
}

#framedphotos > .frame > .framed {
    padding:100px;
    padding-bottom: 100px;
    background-color: white;
    padding: right 30px left 30px;
    margin-bottom:0px;
    image-resolution: 200px 200px;
}


#framedphotos > .frame > h1 {
    padding:100px;
    padding-bottom: 50px;
    background-color: white;
    margin-top:0px;
}

@media (max-width:1029px) {
    .navitems {
        display:none;
    }

    #navbar > #naviconhouse,#naviconabtme,#naviconproj,#naviconachiv  {
        display:flex;
    }

    #notchcollapse, #notchopen {
        margin-top: 65px;
    }
}

@media (min-width:1030px) {
    #navbar > #naviconhouse,#naviconabtme,#naviconproj,#naviconachiv  {
        display:none;
    }
    
}